# UK Companies House API
COMPANIES_HOUSE_API_KEY=""

# EUIPO OAuth credentials
EUIPO_CLIENT_ID=""
EUIPO_CLIENT_SECRET=""

# true = sandbox environment
# false = production environment
EUIPO_SANDBOX=true